
  <%# iterating over goals and the tasks connected to this particular goal %>
<div class="goalscontainer">
<%# Searchbar via Lewagon UI kit %>
  <%#= simple_form_for :search, url: root_path, method: :get do |f| %>
  <%= form_with url: root_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for a goal"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>

  <% end %>

  <h2>Get inspired with other users aims:</h2>

  <% @goals.each do |goal| %>
    <%= link_to goal_path(goal) do  %>
      <div class="card-product">
        <img src="https://picsum.photos/250" />
          <div class="card-product-infos">
            <h2> <%= goal.name %> </h2>
            <p><%= goal.description %></p>
            <p><%= goal.likes.count %> <%= (goal.likes.count) == 1 ? 'Like' : 'Likes'%></p>
            <p></p>
            <div class="tasks">
              <ul>
                <% goal.tasks.each do |task| %>
                  <li> <%= task.name %></li>
                <% end %>
              </ul>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>
      </div>
</div>
