
  <%# iterating over goals and the tasks connected to this particular goal %>
<%# Searchbar via Lewagon UI kit %>
  <%#= simple_form_for :search, url: root_path, method: :get do |f| %>
<div class="searchbar">
  <%= form_with url: root_path, method: :get, class: "input" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for a goal"
  %>
  <%= submit_tag "Search", class: "btn btn-outline-success" %>
  <% end %>
</div>

<div class="goalscontainer">
  <h2>Your recent tasks</h2>
  <div class="card-product">
    <% task_list = [] %>
    <% current_user.goals.each do |goal| %>
      <% task_list += goal.tasks %>
    <% end %>
    <%= task_list.sort_by { |date| date.created_at } %>

  </div>
</div>

<div class="goalscontainer">
  <h1>Get inspired with other users goals:</h1>
  <% @goals.each do |goal| %>
    <%= link_to goal_path(goal) do  %>
      <%= render "goals/goal_card", goal: goal %>
    <% end %>
  <% end %>
</div>
