
  <%# iterating over goals and the tasks connected to this particular goal %>
<%# Searchbar via Lewagon UI kit %>
  <%#= simple_form_for :search, url: root_path, method: :get do |f| %>
<div class="searchbar">
  <%= form_with url: root_path, method: :get, class: "input" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for a goal"
  %>
  <%= submit_tag "Search", class: "btn btn-outline-success" %>
  <% end %>
</div>

<div class="categories-container">
  <h2> Discover our goals categories </h2>
  <div class="iconcontainer">
  <% Goal::CATEGORIES.each do |c| %>
    <%= simple_form_for :name, url: root_path, method: :get do |f| %>
      <%= f.input :category, as: :hidden, input_html: { value: c[:name]} %>
      <%= image_submit_tag c[:url] %>
      <%= c[:name] %>
    <% end %>
  <% end %>
  </div>
</div>

<div class="recent-tasks-container d-flex">
  <div class="half-page-container">
    <h2 class="header-subtitle">Your recent tasks</h2>
    <div class="card50">
      <% task_list = [] %>
      <% if current_user.present? %>
        <% current_user.goals.each do |goal| %>
          <% task_list += goal.tasks %>
        <% end %>
        <% task_list.sort_by { |date| date.created_at }.reverse.first(15).each do |task| %>
          <div class="">
            <ul>
              <li class="font-small-header"><%= task[:name] %></li>
              <%# <li><%= task[:created_at] %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="half-page-container">
  <h2 class="header-subtitle">Your bookmarks</h2>
  <div class="card50">
    <% if current_user.present? && current_user.bookmarks.present? %>
      <% current_user.bookmarks.each do |bookmark| %>
        <ul>
          <li class="font-small-header" style="color: black;"><%= bookmark.goal.name %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
  </div>
</div>

<div class="goalscontainer">
  <h2 class="header-subtitle">Get inspired with other users goals:</h2>
  <%= render "goals/goal_card", goal: @goals %>
</div>
