<% @goals.each do |goal| %>
  <div style="position: relative;">
    <%= link_to goal_path(goal) do  %>
      <div class="card-product">
        <img src="<%= goal.category_url %>"/>
        <div class="card-product-infos">
          <h2> <%= goal.name %> </h2>
          <%#= goal.tasks.first.name if goal.tasks.count > 0  %>
          <p><%= goal.likes.count %> <%= (goal.likes.count) == 1 ? 'Like' : 'Likes'%></p>
            <%# <ul> %>
              <%# goal.tasks.each do |task| %>
              <%#= <li>  task.name</li> %>
              <%# end %>
            <%# </ul> %>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= goal.progress > 0 ? (goal.progress * 100).round : 0 %>%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <div class="percentage"><%= goal.progress > 0 ? (goal.progress * 100).round : 0 %> %</div>
          <div class="datedue">
            <h3>Date due:</h3>
            <%= goal.tasks.count %> Tasks until <%= goal.end_date %>
          </div>
      </div>
    <% end %>
    <% if Bookmark.find_by(goal_id: goal.id)  %>
      <% @bookmark = Bookmark.find_by(goal_id: goal.id) %>
      <%= link_to goal_bookmark_path(goal, @bookmark), data: {turbo_method: :delete} do  %>
        <i class="fa-regular fa-bookmark fa-xl bookmark-position"></i>
      <% end %>
    <% else %>
      <%= link_to goal_bookmarks_path(goal), data: {turbo_method: :post} do  %>
        <i class="fa-solid fa-bookmark fa-xl bookmark-position"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
