<%# This shows the Avatar the email (for now) and gives you the option to create a new goal %>
<div class="container">
  <div class="usercontainer">
    <h1><%= current_user.email %></h1>
    <% if policy(Goal).new? %>
      <%= link_to "Create Goal", new_goal_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <%# iterating over goals and the tasks connected to this particular goal %>
  <div class="goalscontainer">
    <h2>Goals</h2>
      <% @goals.each do |goal| %>
      <%= link_to goal_path(goal) do  %>
        <div class="card-product">
          <img src="<%= goal.category_url %>"/>
          <div class="card-product-infos">
            <h2> <%= goal.name %> </h2>
            <p><%= goal.description %></p>
            <p><%= goal.likes.count %> <%= (goal.likes.count) == 1 ? 'Like' : 'Likes'%></p>
            <p></p>
            <div class="tasks">
              <ul>
                <% goal.tasks.each do |task| %>
                  <li> <%= task.name %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%# .first(3) You can put this to the iterators to only display maybe 3 tasks %>
