<div class="container">
  <div class="usercontainer d-flex">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    <h1><%= current_user.email %></h1>
    <%= link_to "Create Goal", new_goal_path, class: "btn btn-primary" %>
  </div>

  <div class="goalscontainer ">
    <h2>Goals</h2>
    <% @goals.each do |goal| %>
    <div class="card-product">
      <img src="https://picsum.photos/200" />
      <div class="card-product-infos">
        <h2> <%= goal.name %> </h2>
        <p><%= goal.description %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%# goals div %>
