<%# This shows the Avatar the email (for now) and gives you the option to create a new goal %>
<div class="goalscontainer">
    <h1 class="default-header">Hello, <%= current_user.user_name %></h1>
</div>

<div class="indexcontainer">
  <%# iterating over goals and the tasks connected to this particular goal %>
  <div class="goalscontainer">

  <h2 class="header-subtitle">Goals</h2>
    <%= render "goals/goal_card", goal: @goals %>
    <div class="containerflex70">
    <% if policy(Goal).new? %>
      <%= link_to "Create Goal", new_goal_path, class: "btn btn-primary-green" %>
    <% end %>
  </div>
  </div>

  <div class="badges-container">
  <h2 class="header-subtitle"> Your badges: </h2>
  <% @user_completed_goals.each do |g| %>
    <img src="<%= g.category_url_badge %>" width="88"/>
    <p> For completing: <br> <%= g.name %> </p>
  <% end %>
  </div>
</div>
