<div class="goalscontainer" data-controller="checkbox">

  <%# Goal description and image %>
  <div class="showgoalscontainer">
    <div class="m-5">
      <h1><%= @goal.name %></h1>
      <h2><%= @goal.description %></h2>
      <p>by: <%= @user.user_name %></p>
    </div>
    <img src="<%= @goal.category_url %>"/>
  </div>
  <br>

  <%# progress bar %>
  <p><%= (@goal.end_date - Date.today).ceil %> days left until Due Date</p>
  <div class="progress mb-5">
    <div class="progress-bar" data-checkbox-target='progress' data-tasks="<%= @goal.tasks.count %>" data-progress="<%= @goal.progress %>" role="progressbar" style="width: <%= (@goal.progress * 100.round) %>%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"> <%= (@goal.progress * 100).round %>%</div>
  </div>

  <%# Tasks display %>
  <ul class="tasksgrid">
    <% @goal.tasks.sort.each do |task| %>
      <%# logic for which complete button to use %>
      <li class="task-card">
            <% if current_user == @goal.user %>
              <%= check_box_tag task.id, task.id, task.completed, data: { action: "click->checkbox#update", complete: "#{task.completed}"  } %>
            <% end %>
            <%# task name and delete button %>
            <p><%= task.name %></p>
            <% if policy(@goal).destroy? %>
            <%= link_to image_tag("delete_task.png", class: "task-button"), goal_task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn" %>
            <% end %>
      </li>
    <% end %>
  </ul>

  <%# share %>
  <%# like section %>
  <div class="social-media">
    <div class="like">
      <% if current_user && @like %>
        <%= button_to image_tag("clover.png"), goal_like_path(@goal, @like), method: :delete, class: "btn btn-light" %>
        <%= @goal.likes.count %> <%= (@goal.likes.count) == 1 ? 'Clover' : 'Clovers'%>
      <% else %>
        <%= button_to image_tag("dark_clover 2 1.png"), goal_likes_path(@goal), method: :post, class: "btn btn-light"%>
        <%= @goal.likes.count %> <%= (@goal.likes.count) == 1 ? 'Clover' : 'Clovers'%>
      <% end %>
    </div>
    <div class="share d-flex justify-content-center align-items-center my-3">
        <%= link_to "Share goal via Whatsapp" , "https://wa.me/?text=#{@goal.name}", class:"whatsapp", data: { action: "share/whatsapp/share"}%>
        <i class="fa-brands fa-square-whatsapp fa-4x mx-3"></i>
    </div>
  </div>

  <%# task CRUD %>
  <div class="button-container">
    <div class="button-section-one">
        <% if policy(@task).create? %>
          <%= link_to "Add Task", new_goal_task_path(@goal), class: "btn-primary-green" %>
        <% end %>
    </div>
    <div class="button-section-two">
      <%= link_to "Back", :back, class: "btn-back-grey" %>
      <% if policy(@goal).edit? %>
        <%= link_to "Edit", edit_goal_path(@goal), class: "btn-edit-turkis" %>
      <% end %>
      <% if policy(@goal).destroy? %>
        <%= link_to "Delete", goal_path(@goal), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn-delete-red" %>
      <% end %>
    </div>
  </div>
</div>
