<div class="goalscontainer" data-controller="checkbox">

  <%# Goal description and image %>
  <div class="showgoalscontainer">
    <div class="m-5">
      <h1><%= @goal.name %></h1>
      <h2><%= @goal.description %></h2>
    </div>
    <img src="<%= @goal.category_url %>"/>
  </div>

  <%# progress bar %>
  <p><%= (@goal.end_date - Date.today).ceil %> days left until Due Date</p>
  <div class="progress mb-5">
    <div class="progress-bar" data-checkbox-target='progress' data-tasks="<%= @goal.tasks.count %>" data-progress="<%= @goal.progress %>" role="progressbar" style="width: <%= (@goal.progress * 100.round) %>%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"> <%= (@goal.progress * 100).round %>%</div>
  </div>

  <%# Tasks display %>
  <ul class="tasksgrid">
    <% @goal.tasks.sort.each do |task| %>
      <%# logic for which complete button to use %>
      <li class="task-card">
      <% if current_user == @goal.user %>
        <%= check_box_tag task.id, task.id, task.completed, data: { action: "click->checkbox#update", complete: "#{task.completed}"  } %>
      <% end %>
      <%# task name and delete button %>
      <p><%= task.name %></p>
      <% if policy(@goal).destroy? %>
        <%= link_to image_tag("delete_task.png", class: "task-button"), goal_task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn" %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <%# like section %>
  <% if current_user && @like %>
    <%= button_to image_tag("clover.png"), goal_like_path(@goal, @like), method: :delete, class: "btn btn-light mt-4" %>
  <% else %>
    <%= button_to image_tag("dark_clover 2 1.png"), goal_likes_path(@goal), method: :post, class: "btn btn-light mt-4"%>
  <% end %>
  <p><%= @goal.likes.count %> <%= (@goal.likes.count) == 1 ? 'Clover' : 'Clovers'%></p>

  <%# task CRUD %>
  <div class="d-flex justify-content-between">
    <% if policy(@task).create? %>
      <%= link_to "Add Task", new_goal_task_path(@goal), class: "btn btn-primary" %>
    <% end %>
    <% if policy(@goal).edit? %>
      <%= link_to "Edit Goal", edit_goal_path(@goal), class: "btn btn-secondary" %>
    <% end %>
    <% if policy(@goal).destroy? %>
      <%= link_to "Delete Goal", goal_path(@goal), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn btn-danger mr-3" %>
    <% end %>
    <%= link_to "back", :back, class: "btn btn-secondary" %>
  </div>

  <%# share %>
  <div class="share">
    <i class="fa-brands fa-square-whatsapp"></i>
    <%= link_to "Share your goal via Whatsapp" , "https://wa.me/?text=#{@goal.name}", data: { action: "share/whatsapp/share"}%>
  </div>
</div>
