<div class="container">
  <h1><%= @goal.name %></h1>
  <h2><%= @goal.description %></h2>
  <p>Category: <%= @goal.category %></p>
  <p>Progress: <%= @goal.status %></p>
  <p><%= @goal.start_date %></p>
  <p><%= @goal.end_date %></p>
  <br><br>
  <%= link_to "Delete", goal_path(@goal), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn btn-danger mr-3" %>
  <br><br>
  <%= link_to "back", goals_path(@goal), class: "btn btn-primary" %>
</div>
